/***** Header *****/
$header-height: 57px;

.header {
  @include max-width-container;
  position: relative;
  align-items: center;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  background-color: $mm-brand-bg;
  padding: 5px 2% 5px 2%;
}

.logo {
  .row {
    display: flex;
  }
  .column {
    flex: 33.33%;
    padding: 4px 5px 0 5px;

    .mit-logo {
      height: 36px;
      width: 51px;
    }
    .micromasters-logo {
      height: 23px;
      width: 263px;
      margin-top: 7px;
    }
  }
  .divider-large {
    flex: 33.33%;
    width: 1px;
    height: 30px;
    margin: 8px 12px 0 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.user-nav {
  @include tablet { position: relative; }
  position: absolute;
  white-space: nowrap;

  &[aria-expanded="true"] {
    background-color: $mm-brand-bg;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .15), 0 4px 10px 0 rgba(0, 0, 0, .1);
    border: solid 1px #ddd;
    right: 0;
    left: 0;
    top: $header-height;
    z-index: 1;

    > a {
      display: block;
      margin: 20px;
    }
  }
}

.nav-wrapper {
  a {
    @include tablet {
      display: inline-block;
    }

    border: 0;
    color: white;
    display: none;
    font-size: 14px;
    padding: 0 20px 0 0;
    width: auto;

    [dir="rtl"] & { padding: 0 0 0 20px;}

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      color: white;
      text-decoration: underline;
    }

    &.sign-in { display: none; }
  }

  .row {
    display: flex;
    color: white;
  }

  .hide-on-mobile {
    @include mobile {
      @include visually-hidden;
    }
  }

  .menu-button {
    @include tablet { display: none; }
    background: none;
    border: 0;
    color: white;
    display: inline-block;
    margin-right: 10px;
    padding: 0;
    width: auto;

    .icon-menu {
      vertical-align: middle;
      width: 13px;
      height: 13px;
    }

    [dir="rtl"] & {
      margin-left: 10px;
      margin-right: 0;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      color: $link_color;
    }
  }
}

.skip-navigation {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  font-size: 14px;
  justify-content: center;
  left: -999px;
  margin: 20px;
  padding: 20px;
  overflow: hidden;
  position: absolute;
  top: auto;
  z-index: -999;


  [dir="rtl"] & {
    left: initial;
    right: -999px;
  }

  &:focus,
  &:active {
    left: auto;
    overflow: auto;
    text-align: center;
    text-decoration: none;
    top: auto;
    z-index: 999;


  [dir="rtl"] & {
    left: initial;
    right: auto;
  }
  }
}
